<div ng-controller="DashBoardController">
    <div id="wrapper">
        <div id="login-container">
            <section id="post">
                <div class="post">
                    <h1>Share Your Views</h1>

                    <h2>Recent Posts</h2>

                    <div ng-repeat="post in postList">
                        <div><b>id :</b> {{post.id}}</div>
                        <br/>

                        <div><b>Subject :</b> {{post.subject}}</div>
                        <br/>

                        <div><b>Description :</b> {{post.description}}</div>
                        <br/>

                        <div><b>Description :</b> {{post.description}}</div>
                        <br/>

                        <div><b>Comments :</b></div>
                        <div ng-repeat="comment in post.comments">

                            <div><b>id :</b> {{comment.id}}</div>
                            <br/>

                            <div><b>Subject :</b> {{comment.comment}}</div>
                            <br/>


                        </div>
                    </div>

                </div>
            </section>
        </div>
    </div>
</div>
